// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.margin-list-button{
	margin: 1px;
}

.table-head-strong{
	thead{
		tr {
			td {
				font-weight: bold;
			}
		}
	}
}

.three-buttons{
	width: $three-buttons;
  visibility: hidden;
}

.list-item:hover .three-buttons{
  visibility: visible; 
}

.list-enter-active, .list-leave-active {
  transition: all 0.3s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.global-message{
  background: rgba(187, 224, 173, 0.80);
  border: solid 1px $brand-success;

  span {
  	color: #174007;
  }
}
.global-message-warning{
  background: rgba(203, 185, 86, 0.09);
  border: solid 1px $brand-warning;

  span {
    color: $brand-warning;
  }
}
.global-message-danger{
  background: rgba(191, 83, 41, 0.14);;
  border: solid 1px $brand-danger;
  
  span {
    color: $brand-danger;
  }
}

.g-msg{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 50px;
  margin: 0 50px 50px 0;
  width: 400px;
  border-radius: 5px;
  z-index: 2;
}

.g-msg:hover{
  opacity: 0.2;
}

.fade-enter-active {
  transition: opacity .5s
}
.fade-leave-active{
  transition: opacity .2s 
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
.table-bi{
  border-radius: 5px;
  box-shadow: 0 0 1px #888;
  margin-top: 25px;
  display: block;

  thead{
    background: #EEE;

    tr td{
      text-align: center;
    }

  }

}

footer{
  background: #444;
  padding: 60px;
  padding-bottom: 0px;
  margin-top: 50px;

  p, a, h1, h2, h3, h4, h5, h6{
    color: #FFF;
  }
  h1, h2, h3, h4, h5, h6{
    text-align: center;
  }

  .bloque-footer{
    margin-bottom: 30px;
    text-align: center;
  }

  .bloque-final{
    background: #222;
    p {
      margin-top: 10px;
    }
  }
}

.pagination{
  a{
    border: 1px solid #BBB !important;
  }
}

.margin-left-small{
  margin-left: 10px;
}

.section-detail{
  .label{
    font-size: 16px;
  }
}

.body-principal{
  margin-bottom: 30px;
}

/* FORMULARIOS */
.error-input{
  border: 1px solid $brand-danger;
  border-radius: 4px;
}