// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.margin-list-button{
	margin: 1px;
}

.table-head-strong{
	thead{
		tr {
			td {
				font-weight: bold;
			}
		}
	}
}

.three-buttons{
	width: $three-buttons;
  visibility: hidden;
}

.list-item:hover .three-buttons{
  visibility: visible; 
}

.list-enter-active, .list-leave-active {
  transition: all 0.3s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.global-message{
  background: rgba(187, 224, 173, 0.80);
  border: solid 1px $brand-success;

  span {
  	color: #174007;
  }
}
.global-message-warning{
  background: rgba(203, 185, 86, 0.09);
  border: solid 1px $brand-warning;

  span {
    color: #555;
  }
}
.global-message-danger{
  background: rgba(191, 83, 41, 0.14);;
  border: solid 1px $brand-danger;
  
  span {
    color: $brand-danger;
  }
}

.g-msg{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 50px;
  margin: 0 50px 50px 0;
  width: 400px;
  border-radius: 5px;
  z-index: 2;
}

.g-msg:hover{
  opacity: 0.2;
}

.fade-enter-active {
  transition: opacity .5s
}
.fade-leave-active{
  transition: opacity .2s 
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
.table-bi{
  border-radius: 5px;
  box-shadow: 0 0 1px #888;
  margin-top: 25px;
  margin-left: 1px;
  width: 99%;
  background-color: #FFF;

  thead{
    background: #EEE;

    tr td{
      text-align: center;
    }

  }

}

footer{
  p, a, h1, h2, h3, h4, h5, h6{
    color: #FFF;
  }
  h1, h2, h3, h4, h5, h6{
    text-align: center;
  }

  .bloque-footer{
    margin-bottom: 30px;
    text-align: center;
  }

  .bloque-final{
    background: #222;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    left: 0;
    p {
      margin-top: 10px;
    }
  }
}

.pagination{
  a{
    border: 1px solid #BBB !important;
  }
}

.margin-left-small{
  margin-left: 10px;
}

.section-detail{
  .label{
    font-size: 16px;
  }
}

.body-principal{
  margin-bottom: 30px;
}

/* FORMULARIOS */
.error-input{
  border: 1px solid $brand-danger;
  border-radius: 4px;
}

/* ESTILOS DASHBOARD BOOTSTRAP */
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.item-setting-principal{
  font-size: 22px;
}
.item-setting{
  font-size: 18px;
}
.item-setting-specialties a{
  color: #404FD8;
}
.item-setting-auth span{
  color: #FFC730;
}
.item-setting-auth a{
  color: #A67D10;
}
.item-setting-emails a{
  color: #FFA030;
}